#mando {
    background-color: black;
    height: 330px;
    width: 340px;
    position: absolute;
    top: 50px;
    left: 390px;
}

:root {
    --mando-grey: #969696;
    --dark-grey: #484848;
    --black: #181818;
}

#helmet-base {
    position: absolute;
    top: 39.5px;
    left: 65px;
    width: 210px;
    height: 221px;
    border-radius: 50% 50% 0% 0% / 54% 54% 0% 0%;
    background-color: var(--mando-grey);
}

/* Helmet Top Decoration */
#top-grey-left-bar {
    position: absolute;
    top: 39.5px;
    left: 153px;
    width: 9px;
    height: 91px;
    background-color: var(--dark-grey);
    border-radius: 100% 0% 0% 0% / 2% 0% 0% 0%;
    border-top: 1px solid var(--black);
}

#top-grey-right-bar {
    position: absolute;
    top: 39.5px;
    left: 177px;
    width: 9px;
    height: 91px;
    background-color: var(--dark-grey);
    border-radius: 0% 100% 0% 0% / 0% 2% 0% 0%;
    border-top: 1px solid var(--black);
}

#eyebrow-shadow {
    position: absolute;
    top: 137px;
    left: 64px;
    width: 212px;
    height: 2px;
    background-color: var(--dark-grey);
}

#eyebrow-bar {
    position: absolute;
    top: 132px;
    left: 63.2px;
    width: 213px;
    height: 6px;
    border-radius: 1% 1% 5% 5% / 77% 77% 23% 23%;
    background-color: var(--mando-grey);
    border-top: 0.5px solid var(--dark-grey);
}

#top-grey-left-parra {
    position: absolute;
    top: 131px;
    left: 174.2px;
    width: 9px;
    height: 7px;
    transform: skew(-40deg);
    background-color: var(--dark-grey); 
}
#top-grey-right-parra {
    position: absolute;
    top: 131px;
    left: 155.3px;
    width: 9px;
    height: 6px;
    transform: skew(40deg);
    background-color: var(--dark-grey); 
}

#top-grey-horizontal {
    position: absolute;
    top: 134px;
    left: 163px;
    width: 12px;
    height: 4px;
    background-color: var(--dark-grey); 
}

#grey-cover-top {
    position: absolute;
    top: 132px;
    left: 163px;
    width: 13px;
    height: 0.3px;
    background-color: var(--mando-grey); 
}

/* Ears */
#left-ear-bar {
    position: absolute;
    top: 138px;
    left: 60px;
    width: 5px;
    height: 122px;
    background-color: var(--mando-grey);
}

#right-ear-bar {
    position: absolute;
    top: 138px;
    left: 275px;
    width: 5px;
    height: 122px;
    background-color: var(--mando-grey);
}

#left-ear {
    position: absolute;
    top: 138px;
    left: 54px;
    width: 6px;
    height: 34px;
    background-color: var(--mando-grey);
    border-radius: 100% 20% 0% 0% / 25% 0% 0% 0% ;
}

#right-ear {
    position: absolute;
    top: 138px;
    left: 280px;
    width: 6px;
    height: 34px;
    background-color: var(--mando-grey);
    border-radius: 20% 100% 0% 0% / 0% 25% 0% 0% ;
}

#grey-left-box {
    position: absolute;
    top: 148px;
    left: 54px;
    width: 11px;
    height: 17px;
    background-color: var(--dark-grey);
}

#grey-left-bar {
    position: absolute;
    top: 138px;
    left: 64px;
    width: 3px;
    height: 122px;
    background-color: var(--dark-grey);
    border-radius: 18% 0% 19% 17% / 4% 21% 10% 8%;
}

#grey-right-box {
    position: absolute;
    top: 148px;
    left: 275px;
    width: 11px;
    height: 17px;
    background-color: var(--dark-grey);
}

#grey-right-bar {
    position: absolute;
    top: 138px;
    left: 273px;
    width: 3px;
    height: 122px;
    background-color: var(--dark-grey);
    border-radius: 18% 0% 19% 17% / 4% 21% 10% 8%;
}

/* Eyes */
#top-eye-bar {
    position: absolute;
    top: 147px;
    left: 67px;
    width: 206px;
    height: 8px;
    background-color: var(--black);   
}

#eye-triangle {
    position: absolute;
    top: 155px;
    left: 67px;
    border-top: 18px solid var(--black); 
    border-left: 103px solid transparent; 
    border-right: 103px solid transparent;   
}

/* Fix */
#mando-bottom-left {
    position: absolute;
    top: 260.5px;
    left: 65px;
    width: 105px;
    height: 50px;
    background-color: var(--mando-grey);
    border-radius: 0% 0% 0% 100% / 0% 0% 100% 100%;
}

#mando-bottom-right {
    position: absolute;
    top: 260.5px;
    left: 170px;
    width: 105px;
    height: 50px;
    background-color: var(--mando-grey);
    border-radius: 0% 0% 100% 0% / 0% 0% 100% 100%;
}